<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.knime.enterprise.client.api.ServerContextFactory">
      <serverContextFactory
            class="com.knime.enterprise.client.openejb.OpenEJBServerContextFactory">
      </serverContextFactory>
   </extension>

</plugin>
