includeConfig "$baseDir/params.config"
 

process {
     queue='mem_1tb,short-sl7'
     memory='20G'
     cpus='1'
     time='6h'
     scratch = false

     $run_shotgun{
	memory='10G'
     }
     $msconvert{
         executor = 'local'
     }

}


process.container = '/software/bi/biocore_tools/git/singularity_conversion/singularity/biocorecrg_qcloud-2018-04-18-3d498069d501.img'
singularity.enabled = true



