includeConfig "$baseDir/params.config"
workDir = "/users/pr/proteomics/mygit/qcloud2-pipeline-runs"

process {
    executor = 'slurm'
    cache = 'lenient'
    queue = 'genoa64'
    cpus = '1'
    memory = '10G'
    time = '6h'
    scratch = false
    errorStrategy = 'ignore'

    clusterOptions = '--qos=core'

    withLabel: big_mem {
        memory = '32G'
        time = '4h'
    }

    withLabel: big_cpus {
        cpus = 8
        time = '6h'
        memory = '20G'
    }

    withLabel: little_comp {
        maxForks = 1
        maxRetries = 3
        errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    }

    withLabel: local {
        executor = "local"
    }

    withLabel: thermoconvert {
        container = 'biocorecrg/thermorawparser:0.2'
    }
}

singularity {
    cacheDir = "$baseDir/singularity"
    enabled = true
}

process.container = 'biocorecrg/qcloud:2.2'
