params {
    qconfig          = "$baseDir/qcloud.config"
    zipfiles         = "$baseDir/incoming/*.zip"
    webdavpass       = "123kk789"
    webdavip         = "192.168.101.125"
    fasta_tab        = "$baseDir/fasta.tsv"
    db_host          = "192.168.101.37:8181"
        
    email            = "luca.cozzuto@crg.eu"
}
