params {

	reads		= "$baseDir/test2/*.fastq.gz"
	genome		= "$baseDir/test2/chr19.fasta.gz"
	annotation   = "$baseDir/test2/chr19.gtf"
	genomeSize   = '91744698'
	fragmentLength = 300
	peakconfig		= "$baseDir/peakconf.tsv"
	multiconfig  = "config.yaml"
	output       = "$baseDir/output"
	UCSCID 	= "chipseq"
	title	= "ChIPseq project"	
	subtitle= "This is my wonderful chipseq experiment"	
	PI		= "Luca Cozzuto"	
	User		= "Luca Cozzuto"
	UCSCgenomeID = "mm10"
	email	    = "luca.cozzuto@crg.eu"

}
