APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

QCLOUD_INPUT_PATH=C:\www\input
QCLOUD_OUTPUT_PATH=C:\www\output
QCLOUD_ERROR_FILEPATH=C:\www\error\log.txt
QCLOUD_EXEC_PATH=C:\www\ProteoWizard\msconvert.exe
QCLOUD_EXEC_ALT_PATH=C:\www\ProteoWizard\qtofpeakpicker.exe

